In [4]:
name = "shinu"
student_number = "ST1001"
email = "shinu128@gmail.com"
print(name, student_number, email)

shinu ST1001 shinu128@gmail.com

In [6]:
name = "shinu"
student_number = "ST1001"
email = "shinu128@gmail.com"

print(name + "\t" + student_number + "\t" + email)

shinu	ST1001	shinu128@gmail.com

In [8]:
name = "shinu"
student_number = "ST1001"
email = "shinu128@gmail.com"

print(name + "\t" + student_number + "\t" + email)

# Exercise 3: Perform arithmetic operations
a = 14
b = 7

print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")

shinu	ST1001	shinu128@gmail.com
14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

In [10]:
# Exercise 4: Display numbers from 1 to 5 as steps
print("1 2 3 4 5")

1 2 3 4 5

In [12]:
# Exercise 5: Output sentence with quotation marks and line break
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [14]:
# Exercise 6: Practice and check the output
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*

In [16]:
# Exercise 7: Variable types and sum calculation
num = 23
textnum = "57"
decimal = 98.3

print(type(num))
print(type(textnum))
print(type(decimal))

sum_values = num + int(textnum) + decimal
print("Sum:", sum_values)
print("Type of sum:", type(sum_values))

<class 'int'>
<class 'str'>
<class 'float'>
Sum: 178.3
Type of sum: <class 'float'>

In [18]:
# Exercise 8: Calculate minutes in a year
days_in_year = 365
minutes_in_hour = 60
hours_in_day = 24

total_minutes = days_in_year * hours_in_day * minutes_in_hour
print("The total number of minutes in a year is:", total_minutes)

The total number of minutes in a year is: 525600

In [ ]:
# Exercise 9: User input and greeting
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

In [ ]:
# PoundsToDollars.py

# Set the exchange rate (example: 1 GBP = 1.25 USD)
exchange_rate = 1.25  

# Get user input
pounds = float(input("Please enter amount in pounds: £ "))

# Convert to dollars
dollars = pounds * exchange_rate

# Display the result
print(f"£ {pounds} are $ {dollars:.2f}")