In [2]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Random List:", random_numbers)

Random List: [60, 6, 51, 27, 8]

In [4]:
# Adding 3 new values
random_numbers.extend([101, 202, 303])

print("Updated List:", random_numbers)

Updated List: [60, 6, 51, 27, 8, 101, 202, 303]

In [6]:
for num in random_numbers:
    print(num)

60
6
51
27
8
101
202
303

In [8]:
person = {
    "name": "John",
    "age": 25,
    "address": "New York"
}

print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [10]:
person["phone"] = "1234567890"

print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

In [12]:
my_set = {1, 2, 3, 4, 5}

print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [14]:
my_set.add(6)

print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [16]:
my_set.remove(3)

print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

In [18]:
my_tuple = (1, 2, 3, 4)

print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

In [20]:
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4